<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>HW15 - WEB VISUALIZATION</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
</head>
</head>
<body>

<!-- WebPage Header -->
<div class="container">
    <div class="jumbotron text-center">
    <strong><h1 style="font-family:verdana;" id="main_header">HW15 - WEB VISUALIZATION</h1></strong>
    <p>Belly Button BioDiversity</p>
    </div>
</div>

<!-- WebPage Body -->
<div class = "container">
  <div class = "row">
    <div align="center" id = "main_plot" class = "col-md-4">SELECT Sample: 
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
    <br>
    <br>
        <table class = "table" border='1'>
            <thead>
            <tr>
                <th>Sample MetaData</th>
            </tr>
            </thead>
            <tbody id = "meta_info">
            <tr align="left" id = "meta_tr">
            </tr>
            </tbody>
        </table>
    </div> 

    <div align="center" id = "plot" class = "col-md-8">Pie Chart</div> 
  </div>
  <div class = "row">
  
    <div align="center" id = "plot2" class = "col-md-12">Bubble Plot</div>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
  
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!-- <script src="data_table.js"></script> -->



</body>
</html>
