<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chicago BikeShare vs Traffic Incidents</title>
  <!--For timeslider-->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
  <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
  
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <!-- The div that holds our map -->
  <div id="map-id">
    <div class='map-overlay top'>
      <div class='map-overlay-inner'>
          <h2>Bike Stations vs. Traffic Incidents</h2>
          <label id='month'></label>
          <input id='slider' type='range' min='0' max='11' step='1' value='0' />
      </div>
      <div class='map-overlay-inner'>
          <div id='legend' class='legend'>
              <div class='bar'></div>
              <div></div>
          </div>
      </div>
  </div>
  </div>
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  
  <!-- Our JavaScript -->
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
