<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chicago BikeShare vs Traffic Incidents</title>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
  <!-- D3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <!-- The div that holds our map -->

<div id="map-id"></div>
<hr>
<div class='map-overlay top'>
        
        <div class='map-overlay-inner'>
            <h2>Chicago BikeShare</h2>
            <label id='year'></label>
            <input id='slider' type='range' min='0' max='5' step='1' value='0' />
        </div>
        
</div>


<!-- D3 -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<!-- Leaflet JavaScript -->
<!-- <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script> -->
  
<!-- Our JavaScript -->
<script type="text/javascript" src="js/app_station.js"></script>
</body>
</html>